/* Custom styles for UMG webpage */
header {
    background: url('../img/logo.png') no-repeat center center;
    background-size: cover;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 1.1em;
}

.navbar-brand img {
    margin-right: 10px;
}
